@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css');
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');
@font-face {
  font-family: 'csm';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

:root {
  /* scenario color */
  --color-primary: #3b4953;
  --color-primary-20: #ebf4dd;
  --color-primary-50: #90ab8b;
  --color-secondary: #5a7863;

  --font-sans: 'SUIT Variable';
  --font-serif: 'csm';
  --font-hand: 'hand';

  --image-code: url('https://blog.kakaocdn.net/dn/FnKKw/btsmO6d4vBg/uhCyOdKrLDzRCMkSEpYq1K/img.png');
  --cursor: url('https://cur.cursors-4u.net/cursors/cur-9/cur817.cur');
}

/* font, cursor */
* {
  cursor: var(--cursor), auto !important;
}

/* drag - blur */
::selection {
  color: transparent;
  text-shadow: 0 0 2px var(--color-primary-50);
  transition: all 250ms ease-in;
}
::-moz-selection {
  color: transparent;
  text-shadow: 0 0 2px var(--color-primary-50);
  transition: all 250ms ease-in;
}

/* drag - normal */
/* ::selection { background-color: var(--color-primary-50); color: #fff; transition: all 250ms ease-in; } 
::-moz-selection { background-color: var(--color-primary-50); color: #fff; transition: all 250ms ease-in; } */

/* underline */
a:hover {
  text-decoration: none;
  font-style: normal;
  cursor: text;
}
a:active {
  text-decoration: none;
  font-style: normal;
  cursor: text;
}
a:visited {
  text-decoration: none;
  font-style: normal;
  cursor: text;
}

/* textarea */
textarea {
  font-family: var(--font-sans);
}

/* code */
code {
  display: inline-block;
  margin: 2px 4px;
  padding: 4px 10px 4px 28px;
  border-radius: 99px;
  background-color: var(--color-primary) !important;
  background-image: var(--image-code);
  background-size: 20px;
  background-position: 5px center;
  background-repeat: no-repeat;
  font-family: var(--font-sans);
  color: #ffffff;
}

.message .desc strong {
  padding: 0 8px;
  background-color: var(--color-primary-20);
  font-weight: 600;
}

/* spacer */
.textchatcontainer .desc .spacer {
  display: none;
}
.textchatcontainer .general .spacer {
  background-color: #00000000;
}
.textchatcontainer .general.you .spacer {
  background-color: #00000000;
}

/* chat */
.textchatcontainer {
  font-family:
    'Paperlogy',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
.textchatcontainer .general {
  font-family: var(--font-sans);
}
.textchatcontainer .general em {
  font-family: var(--font-sans);
}
.textchatcontainer .general strong {
  font-family: var(--font-sans);
}
.textchatcontainer .general strong em {
  font-family: var(--font-sans);
}

/* desc */
.textchatcontainer .desc {
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2em;
  text-decoration: none;
}

/* avatar */
.textchatcontainer .avatar {
  overflow: hidden;
  border-radius: 70%;
  box-shadow: 0px 0px 3px #808080;
}

.textchatcontainer .by {
  color: var(--color-primary);
}
.textchatcontainer .general.you {
  background-color: var(--color-primary-20);
}

/* Message */
.userscript-msg {
  display: inline-block;
  position: relative;
  clear: both;
  max-width: 250px;
  margin: auto;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: #e5e5ea;
  font-family: var(--font-sans);
  text-align: left;
  color: #000 !important;
}
.userscript-msg::before {
  content: '';
  position: absolute;
  left: -6px;
  bottom: 0;
  width: 7px;
  height: 14px;
  border-right: 8px solid #e5e5ea;
  border-bottom-right-radius: 14px 7px;
}

/* hand writing */
.userscript-font-hand {
  display: block;
  width: 250px;
  margin: auto;
  padding: 0 20px;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  line-height: 1.5em;
  font-family: var(--font-hand);
  color: #333333 !important;
}
.userscript-font-hand em {
  font-family: var(--font-hand);
  font-style: normal;
  text-decoration: line-through;
}

.userscript-hot {
  position: relative;
  display: block;
  margin: auto;
  width: 250px;
  border: 2px solid var(--color-primary);
  border-bottom: none;
  background-color: #fff;
  padding-top: 16px;
}
.userscript-hot::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0px 0px;
  border-color: var(--color-primary) transparent transparent transparent;
}
.userscript-hob {
  position: relative;
  display: block;
  margin: auto;
  width: 250px;
  border: 2px solid var(--color-primary);
  border-top: none;
  background-color: #fff;
  padding-bottom: 16px;
}
.userscript-hob::before {
  content: '';
  position: absolute;
  right: 4px;
  bottom: 4px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 0px 8px 8px;
  border-color: transparent transparent var(--color-primary) transparent;
}
