@import 'tailwindcss';
@import '@repo/tailwind-config';

@font-face {
  font-family: 'csm';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.1/ChosunSm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

body {
  font-family:
    'Paperlogy',
    Paperlogy,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
}

::selection {
  @apply bg-primary text-white;
}
::-moz-selection {
  @apply bg-primary text-white;
}

.focus-ring {
  @apply focus-visible:ring-primary-600 transition-all duration-300 outline-none focus-visible:ring-2 focus-visible:ring-offset-4;
}

.hover-ring {
  @apply hover:ring-primary-600 rounded-lg transition-all duration-300 hover:ring-1 hover:ring-offset-4;
}

code {
  @apply bg-primary-600 mx-1.5 my-0.5 inline-block rounded-full py-1 pr-2.5 pl-[28px] font-sans text-sm text-white select-none;
  background-image: url('https://blog.kakaocdn.net/dn/FnKKw/btsmO6d4vBg/uhCyOdKrLDzRCMkSEpYq1K/img.png');
  background-size: 20px;
  background-position: 5px center;
  background-repeat: no-repeat;
}

p {
  @apply my-4;
}
b {
  @apply bg-primary-200 rounded-lg px-1.5 py-0.5 font-sans font-medium;
}
ul {
  @apply ml-2 list-inside list-disc space-y-2 font-sans tracking-tight;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
