@import "tailwindcss" prefix(ui);
@import "@repo/tailwind-config";
/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"); */

body {
  @apply ui:bg-background ui:text-foreground;
}

:root {
  --background: #fffcf7;
  --foreground: #111111;
}

.dark {
  --background: #121212;
  --foreground: #ededed;
  color-scheme: dark;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@custom-variant dark (&:where(.dark, .dark *));

.material-symbols-rounded {
  @apply ui:select-none;

  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 200,
    "opsz" 24;
}

.no-scroll {
  -ms-overflow-style: none;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}
